@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS styling */
/* Google Fonts */

.file-result {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 250px) 1fr;
    gap: 6rem;
    padding: 1rem 0rem;
}

#photo-copy {
    height: 250px;
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    overflow: hidden;
}

#photo-copy img {
    width: 100%;
    height: 100%;
}

#result-details {
    width: 100%;
    height: auto;
    font-size: 20px;
    padding: 24px 0px;
}

#result-values {
    color: rgb(252, 211, 77);
    margin: 24px 0px;
}

#result-values p {
    color: rgb(203, 213, 225);
}

#progress-bar {
    width: 100%;
    height: 15px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    overflow: hidden;
}

/* Responsive Design */
@media (max-width: 768px) {
    .file-result {
        display: block;
        padding: 0rem;
    }
}